@{
    ViewBag.Title = "Авторизация";
}

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Выйти", "Logout");
}
else
{
    @Html.ActionLink("Авторизация", "Login");
}

<div class="jumbotron">
    <h1>Тестовое приложение для проверки смены языка</h1>
    <p class="lead">Какой-то важный текст на каком-то языке</p>
</div>