@using LanguageChange.Models

@{
    ViewBag.Title = GlobalHelper.GetTranslate("Home", "Авторизация");
}

@if (User.Identity.IsAuthenticated)
{
    @Html.ActionLink(GlobalHelper.GetTranslate("Home", "Выйти"), "Logout");
}
else
{
    @Html.ActionLink(GlobalHelper.GetTranslate("Home", "Авторизация"), "Login");
}

<div class="jumbotron">
    <h1>@GlobalHelper.GetTranslate("Home", "Тестовое приложение для проверки смены языка")</h1>
    <p class="lead">@GlobalHelper.GetTranslate("Home", "Какой-то важный текст на каком-то языке")</p>
</div>